.title{
    font-size: clamp(2em, 1em + 5vw, 4em);
}

@media screen and (orientation: portrait) {
    .title {
        font-size: clamp(2em, 1em + 5vw, 2.5em);
    }
}

@media screen and (orientation: portrait) and (max-width: 740px) {
    .title {
        font-size: clamp(1em, 1em + .7vw, 3em);
    }
}